APP_NAME=Slashgrab
PRODUCT_NAME=Slashgrab
BUNDLE_ID=com.prof18.slashgrab
MACOS_MIN_VERSION=13.0
SIGNING_MODE=adhoc
APP_IDENTITY=
APPLE_ID=
TEAM_ID=
KEYCHAIN_PROFILE=
SPARKLE_PRIVATE_KEY_FILE=
# Required for production packaging.
SPARKLE_PUBLIC_ED_KEY=
SPARKLE_FEED_URL=https://raw.githubusercontent.com/prof18/slashgrab/main/appcast.xml
SPARKLE_DOWNLOAD_URL_PREFIX=https://github.com/prof18/slashgrab/releases/download/v${VERSION}/
ENABLE_SPARKLE_AUTOMATIC_CHECKS=true
